{{!< default}}
{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}
<main class="content" role="post">
   
    {{#post}}
    <article class="{{post_class}}">
        <h1 class="post-title">{{{title}}}</h1>
        {{! Everything below outputs content of the the post which has been published }}
        <div class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}} <span class="tags">{{tags separator=" , "}}</span>{{/if}}</div>
        <section class="post-content">
            {{content}}
            <div class="sharepost">
                <h3>SHARE POST</h3>
                <a class="fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                <a class="fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
                <a class="fa-twitter" href="http://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
            </div>
            <a href="../" class="button">Back</a>
        </section>
    </article>
{{/post}}

</main>